.menu-button {
   background-color: transparent;
   padding: 0;
   margin: 0;
   border: none;
   cursor: pointer;
}

.menu-list {
   border-radius: 6px;
   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
   padding: 12px 0;
   border: none;
   max-height: 150px;
   overflow-y: auto;
}

.menu-item {
   padding: 8px 12px;
}

.menu-item:hover {
   background-color: #2962ff;
}
